
.bg-container
{
    background-image: url('../assets/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    
   .container
   {
    margin: auto;
    padding-left: 200px;

    h1
    {
        color:red;
       padding-top: 40px;
       
        
    }
    label
    {
        color: white;
        font-size: x-large;

    }
    

   }

  
}